body {
    margin: 0;
    font-family: sans-serif;
    line-height: 130%;
    font-size: 1.5em;
    background-color: hsl(220, 10%, 10%);
    color: white;
    display: flex;
    justify-content: center;
}

/* From https://gist.github.com/MoOx/9137295 */

.reset-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#full-screen-button {
    font-size: 0.75em;
    padding: 0.5em;
    border-radius: 0.5em;
    position: fixed;
    right: 0px;
    top: 0px;
    color: white;
}

#full-screen-button:hover {
    background-color: hsla(0, 0%, 100%, 20%);
}

#canvas-container {
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

div {
    margin: 1em;
}

a {
    color: hsl(160, 100%, 45%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}